html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#calculator {
	display: inline-flex;
	width: 25%;
	aspect-ratio: 0.65;
	flex-direction: column;
	border: 1px solid black;
	padding: 8px;
	margin: auto;
}

#screen {
	display: flex;
	flex-flow: column wrap;
	flex: 2;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0px auto 8px;
}

#keypad {
	flex: 8;
	display: flex;
	gap: 8px;
}

.digits {
	flex: 4;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.digit {
	flex: 1 1 25%;
}

.operators {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.operators button {
	flex: 1 1 20%;
}

.digit,
.operator,
.result,
.operand {
	font-size: 18px;
}
